.about-me {
    margin: 100px auto;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about-box-1 {
    text-align: center;
    width: 500px;
    margin-bottom: 50px;
}

.about-box-1 h3 {
    color: #e6e6e660;
}

.about-box-1 h1 {
    font-size: 4rem;
    margin: 20px 0px;
}

.about-box-1 h1 span {
    color: #194BFD;
}

.about-box-1 p {
    color: #e6e6e660;
}

.about-box-2 {
    width: 100%;
    margin-top: 50px;
}

.upper {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.down {
    width: 85%;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outer {
    width: 185px;
    height: 185px;
    border: 1px dashed #8123fb;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
#Rup{
    position: absolute;
    top: 70%;
    left: 13%;
    font-size: 2rem;
    fill: #194BFD;
}
#Rup2{
    position: absolute;
    top: 69%;
    left: 48%;
    font-size: 2rem;
    fill: #194BFD;
}
#Rup3{
    position: absolute;
    top: 68%;
    left: 83%;
    font-size: 2rem;
    fill: #194BFD;
}

#Rdown{
    position: absolute;
    top: 70%;
    left: 30%;
    font-size: 2rem;
    fill: #8123fb;
}
#Rdown2{
    position: absolute;
    top: 70%;
    left: 64%;
    font-size: 2rem;
    fill: #8123fb;
}

.inner {
    width: 150px;
    height: 150px;
    border: 1px solid #194BFD;
    transform: rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner h3{
    transform: rotate(-45deg);
}