*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffff;
}
body{
    background-color: #0A0A0C;
}
nav{
    background-color: #101012;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-box-1{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.nav-box-2{
    display: flex;
    gap: 10px;
    align-items: center;
}
.prime-btn{
    padding: 15px 35px;
    border-radius: 25px;
    border: none;
    font-size: 1.1rem;
    background: linear-gradient(
        90deg,
        #3042fc,
        #8123fb
    );
    cursor: pointer;
    transition: transform 0.15s ease;
}

.prime-btn:active{
    transform: scale(0.9);
}

.menu{
    color: #E6E6E660;
    cursor: pointer;
}
.add{
    color: #8123fb;
}
