#sub{
    position: absolute;
    height: 70px;
    top:0px;
    left: 2%;
}
#sub-2{
    position: absolute;
    height: 70px;
    top:95%;
    right: -15%;
    transform: rotate(30deg);
}
#clint{
    margin-left: 80px;
    margin-top: 50px;
    border-radius: 10px;
}
.review{
    margin: 100px auto;
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.reviewer-pic{
position: relative;
}
.reviewer-comment p{
    width: 90%;
    margin: 40px 0px;
    color: #e6e6e651;
}